html {
  font-family: "Merriweather", serif;
  background-color: rgb(204 61 61);
}
@media screen and (min-width: 769px) {
  body {
    color: blanchedalmond;
    width: 100%;
    margin: 0 0 20px 0;
    font-weight: 100;
    padding: 0 0 20px 0;
    box-sizing: border-box;
  }

  p {
    color: blanchedalmond;
  }

  ul {
    list-style-position: inside;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
  h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
    border-radius: 3px;
    border: solid 2px black;
  }
  .container {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 25px; /* Footer height */
    margin-bottom: 25px;
    box-sizing: border-box;
  }

  .intro-text {
    max-width: 50%;
  }
  .image {
    margin: 20px;
    text-align: center;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: gray;
    height: 45px;
    border: solid 2px black;
    margin: auto;
  }
  .fa-instagram {
    background: purple;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa {
    padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 60%;
  }
  footer > p {
    position: relative;
    margin: auto;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px; /* Footer height */
    margin-bottom: 25px;
    box-sizing: border-box;
  }
  body {
    color: blanchedalmond;
    width: 100%;
    margin: 0 0 20px 0;
    font-weight: 100;
    padding: 0 0 20px 0;
  }

  p {
    color: blanchedalmond;
  }

  ul {
    list-style-position: inside;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
  h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
    border-radius: 3px;
    border: solid 2px black;
  }

  .intro-text {
    padding: 10px;
    margin: auto;
  }
  .image {
    margin: 20px;
    text-align: center;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: gray;
    height: 45px;
    border: solid 2px black;
    margin: auto 0;
  }
  .fa-instagram {
    background: purple;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa {
    padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 60%;
  }
  footer > p {
    position: relative;
    margin: auto;
    padding: 5px;
  }
}

#popup {
  position: fixed;
  bottom: 6vh;
  left: 20%;
  width: 213px;
  height: 65px;
  padding: 10px;
  background-color: #767372;
  border: 2px solid #767372;
  -webkit-border-radius: 5px;
  z-index: 9999;
  text-align: center;
}
#popup::after {
  position: absolute;
  content: "";
  height: 0px;
  width: 0px;
  left: 43%;
  bottom: -20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #767372;
  z-index: 9999;
}

#popup p {
  color: black;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
}

.popup-close-icon {
  position: absolute;
  width: 0px;
  right: 20px;
  top: 0px;
  font-size: 24px;
  font-weight: bolder;
  color: black;

  cursor: pointer;
}
